@font-face {
    font-family: Lavanderia;
    src: url("../Fonts/Lavanderia/Lavanderia Regular.otf");
}

@font-face {
    font-family: AlteHaasGrotesk_Bold;
    src: url("../Fonts/AlteHaasGrotesk_Bold/AlteHaasGroteskBold.ttf");
}

@font-face {
    font-family: Segoe UI;
    src: url("../Fonts/Segoe UI/Segoe UI.ttf");
}

@font-face {
    font-family: UniversLT;
    src: url("../Fonts/UniversLT/UniversLTStd-Ex.otf");
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.container {
    background-image: url(../image/flower.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: Lavanderia;
    color: #000000;
    font-size: 40.99px;
    font-weight: 400;
    text-align: left;
}

.pink {
    color: #b73958;
}

.header,
.header-menu {
    display: flex;
    justify-content: space-around;
}

.header {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 89px;
    align-items: center;
}

.header a {
    color: rgba(69, 69, 69, 0.75);
    font-family: 'Segoe UI';
    font-size: 16.99px;
    font-weight: 400;
    text-align: left;
}

.login {
    border-radius: 3px;
    background-color: #de6d6e;
    width: 87px;
    height: 27px;
}

.login a {
    font-family: 'Segoe UI';
    color: #ffffff;
    font-size: 16.99px;
    font-weight: 400;
    padding-left: 34px;
    background-image: url(../image/login-img.png);
    background-repeat: no-repeat;
    background-position-x: 13px;
    background-position-y: 7px;
    margin: 0;
}

.menu a {
    margin-right: 40px;
}

.welcome {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 324px;
    padding-bottom: 82px;
    text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.22);
    text-align: left;
    color: #ffffff;
}

.welcome h1 {
    font-family: AlteHaasGrotesk_Bold;
    font-size: 68.99px;
    font-weight: 400;
}

.welcome p {
    font-family: UniversLT;
    font-size: 25px;
    font-weight: 300;  
}

.welcome div {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.59);
    position: absolute;
}

.circle1 {
    width: 117px;
    height: 117px;
    top: 264px;
    left: 565px;
}

.circle2 {
    width: 92px;
    height: 92px;
    top: 230px;
    left: 624px;
}

.circle3 {
    width: 71px;
    height: 71px;
    top: 287px;
    left: 650px;
}

.section {
    background-color: #ffffff;
    width: 100%;
    min-height: 469px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    justify-content: space-around;
    text-align: center;
    font-weight: 300;
}

.text-section>h1 {
    font-family: UniversLT;
    color: #404040;
    font-size: 35px;
    padding-bottom: 17px;
}

.text-section>p {
    font-family: UniversLT;
    color: #636363;
    font-size: 17px;
    max-width: 827px;
}
.section-flexbox div {
    border-radius: 50%;
    width: 179px;
    height: 179px;
    margin-left: 77px;
}

.tickets {
    background-image: url(../image/tickets.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4eb9f4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.camera {
    background-image: url(../image/camera.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6fc125;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.beer {
    background-image: url(../image/beer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ff5649;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.devices {
    background-image: url(../image/devices.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e48f23;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-flexbox {
    font-family: UniversLT;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.section-flexbox h1 {
    font-size: 17px;
    font-weight: 300;
}

.section-flexbox p {
    font-size: 12px;
    opacity: 0;
}

.beer:hover p,
.tickets:hover p,
.camera:hover p,
.devices:hover p {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
}

.news {
    background-color: #fff;
}

.news-flexbox {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    font-weight: 300;
    font-family: UniversLT;
}

.text-news h1 {
    color: #404040;
    font-size: 27px;
    text-align: left;
    padding-bottom: 17px;
    padding-left: 17px;
    font-weight: 300;
}

.text-news p {
    color: #8b8b8b;
    font-size: 15px;
    max-width: 722px;
    padding-left: 17px;
    padding-bottom: 50px
}

.elem-news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 51px;
}

.footer {
    background-image: url(../image/footer-bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.facebook,
.tweeter,
.ball,
.share {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: #696b6a;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 25px;
}

.facebook {
    background-image: url(../image/facebook.png);
}

.tweeter {
    background-image: url(../image/twitter.png);
}

.share {
    background-image: url(../image/share.png);
}

.ball {
    background-image: url(../image/ball.png);
}

.footer-menu {
    padding-bottom: 34px;
    padding-right: 104px;
    font-family: UniversLT;
}

.footer-menu h1 {
    color: #aeaeae;
    font-size: 21px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 41px;
    padding-top: 37px;
}

.footer-menu p,
.other {
    font-family: UniversLT;
    color: #8b8b8b;
    font-size: 15px;
    line-height: 22px;
}

.other p {
    padding-top: 48px;
}

.social {
    display: flex;
    padding-top: 54px;
    justify-content: space-between;
}
/*
@media screen and (max-width: 960px) {
    .welcome h1 {
    font-size: 48.3px;
    }

    .welcome p {
    font-size: 17.5px;
    }

    .circle1 {
        width: 81.9px;
        height: 81.9px;
        top: 184.8px;
        left: 395.5px;
    }

    .circle2 {
        width: 64.4px;
        height: 64.4px;
        top: 161px;
        left: 436.8px;
    }

    .circle3 {
        width: 49.7px;
        height: 49.7px;
        top: 200.9px;
        left: 455px;
    }
}

@media screen and (max-width: 768px) {
    .welcome h1 {
    font-size: 33.81px;
    }

    .welcome p {
    font-size: 12.25px;
    }
}*/