* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    background-color: #111;
}

footer>a,
header>a,
span {
    text-decoration: none;
    color: #d29d41;
    font-size: 20px;
    background-color: #333;
    font-weight: 700;
}

h1,
p {
    color: #d29d41;
    background-color: #202128;
    padding: 4px;
    margin: 1%;
}

img {
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
} 

main {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 0 auto;
}

.image {
    margin-top: 3%;
    align-items: flex-start;
    justify-content: space-around;
}

.image img {
    width: 400px;
    margin: 0;
    margin-bottom: 3%;
}

p {
    flex: 1 1 500px;
}

body,
html {
    height: 100%;
}

footer,
header {
    background-color: #333;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #000;
    flex: 0 0 auto;
}

header {
    border-top: none;
    border-bottom: 1px solid #000;
}
.link-img {
	display: inline-block;	
	border: 1px solid #fff;
	padding: 10px 20px;
	margin-bottom: 3%;
}